PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=lider_refrigeracao

JWT_SECRET=seu_segredo_super_seguro
JWT_EXPIRES_IN=1d

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
USER_RATE_LIMIT_MAX=500

CORS_ORIGIN=http://localhost:5173
